/***** Header Section Styles*****/
h1 {
    text-align: center;
}

.header-container {
    border: solid;
    margin: 5% 5% 0 5%;
    font-size: 5px;
}

.new-bookmark {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Roboto", sans-serif;
    margin: 5%;
}

/**********Add New Bookmark Section ***************/
.addBookmarkSection {
    margin: 5%;
    text-align: center;
    border: solid;
}

.addBookmarkSection h3 {
    text-align: center;
}

#add-bookmark-url {
    width: 35%;
    margin: 3%;
}

#add-bookmark-title {
    width: 35%;
    margin: 3%;
}

.desc-label {
    color: pink;
    margin: 3%;
}

/*****************Bookmarks on homepage***************/
.book-container {
    border: solid;
    margin: 0 5% 0 5%;
    padding: 3%;
}

.condensed {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid;
    padding: 3%;
}

.expanded {
    text-align: center;
}

.delete-button {
    margin-top: 5%;
}

.hidden {
    display: none;
}

.expand-button {
    height: 10%;
    margin-top: 9%;
}